.dialogs{
color: black;
display: grid;
padding: 10px;
grid-template-columns: 2fr 10fr;
text-decoration: none;
}
.dialogsItems .dialog {

}
.dialogsItems{
  text-decoration: none;
}
.dialogsItems .activ {
  color: gold;
}
.message{
padding: 10px;
}
.message .sms {
color: aliceblue;
}
.newMessage{
  border: 1px solid;
  margin-top: 10px;
}